@import url("https://fonts.googleapis.com/css?family=Raleway:500");


div, section, span, ul, li, a{
    box-sizing: border-box;
}   

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

.img6{
    width: 60vw;
    height: auto;
    margin: 5% 20% 5% 20%;
    border: 2px solid white;
    opacity: 1;
    display: block;
    transition: all .25s ease-in-out;
    backface-visibility: hidden;
}

.verticle_container{
    width: 40vw;
}

.verticle_img{
    width: 40vw;
    height: 95vh;
    margin: 5px 30% 5% 0%;
    border: 2px solid white;
    opacity: 1;
    display: block;
  
    transition: all .25s ease-in-out;
    backface-visibility: hidden;
}



.text6{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
    color:white;
    font-weight: 600;
}


.container:hover .middle{
    opacity: 1;
}

.verticle_container:hover .middle_verticle{
    opacity: 1;
}

.container:hover .img6{
    opacity: 0.8;
    transform: scale(1.1);
    border: 2px solid rgb(231, 169, 87);
}
.verticle_container:hover .verticle_img{
    opacity: 0.8;
    transform: scale(1.04);
    border: 2px solid rgb(231, 169, 87);
}


.story_text6{
    margin:5% 15vw 3% 15vw ;
    text-align:center;
    color: white;
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
}

.story_verticle_text{
    position: relative; 
    margin-left: 45vw;
    margin-right:5vw;
    text-justify: auto;
    margin-top: 5%;
    top: -670px; 
    cursor: move;
    text-align:center;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50vw;
    left: 50vw;
    transform: translate(-50%,-200%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle_verticle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50vw;
    left: 20vw;
    transform: translate(-50%,-200%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.specs{
    background-color: black;
    font-family: sora, sans-serif;
    color:white;
    font-size: 16px;
    padding: 16px 32px;
    transition: all 0.25s ease-in-out;
}
  
button {
    -webkit-appearance: none;
    background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    font: 1.5em Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 3rem;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent !important;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 10rem;
    margin: 30px 45% 10vw 45%;
}
  
button:hover {
    animation-name: gradient;
    -webkit-animation-name: gradient;
    animation-duration: 2s;
    -webkit-animation-duration: s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100%;
    }
  }