@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');




*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 100%;
  font-family: sora, sans-serif;
}


div, section, span, ul, li, a{
  box-sizing: border-box;
}

/*css reset*/

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 3% 3% 1%;
  align-items: center;
  position: fixed;
  z-index: 999;
}

#menu li{
  list-style: none;
  display: inline-block;
  margin: 10px 10px 5px 0px;
}

#menu li a{
  font-family: sora, sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

section{
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

#home{
 background-color: #000000;
}



#contact{
   background-color: #98caeb;
}

.fa {
  margin-top: 10%;
  margin-left: 24%;
  margin-bottom: 20px;
  font-size: 20px;
  width: 10px;
  transition: all 0.25s ease-in-out;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  transform: scale(1.7);
}

 .fa-instagram {
  color: white;
  text-align: center;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.cover_text{
  font-family: Sora, sans-serif;
  position: relative;
  flex:content;
  text-align: center;
  color: white;
  float:left;
  top:10%;
  width: 50%;
  font-size: 30px;
}
.cover_text1{
  font-family: Sora, sans-serif;
  position: relative;
  flex:content;
  color: white;
  float:left;
  text-align: center;
  width:50%;
  margin-top: 20%;
  display: table-cell;
  vertical-align: middle;
}
.cover_text2{
  font-family: Sora, sans-serif;
  text-decoration: overline;
  justify-content: last baseline;
  font-size: 15px;
  flex:content;
  color:white;
  padding-left: 5vw;
  padding-right: 55vw;
}

.cover_image{
  width: 50%;
  height: auto;
  float: right;
}

.cover_image_mobile{
  width: 50%;
  height: auto;
  float: right;
}


/* Photo gallery page 1 */

.container{
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #ffffff, #98caeb);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0;
}

.container .heading{
  margin-top: 50px;
  width: 50%;
  padding-bottom: 50px;
  color:white;
}
.container .heading h3{
  font-family: sora, sans-serif;
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.container .heading h3 span{
  font-weight: 100;
}
.container .box{
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 
}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 15px;
  
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

.container .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}

}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}

.container .heading h3{
  font-size: 1em;
}
}
/* Diplaying hover text over photo and provide link */
.tile h4 {
  font-family: sora,sans-serif;
  margin: 0px;
  background-color: rgb(0, 0, 0);
  color:white;
  padding: 10px 14px;
  opacity: 0;
  grid-row: 1; /* place in first row */
  grid-column: 1;  /* place in first column */
  transition: all 0.35s ease-in-out;
  align-self: flex-start; /* take auto-width */
}
.tile {
  position: relative;
  transition: all 0.35s ease-in-out;
  width: 100%;
  display: grid; /* an inner grid */
}

.tile a {
  grid-row: 1; /* place in first row */
  grid-column: 1;  /* place in first column */
  margin-bottom: 15px;
}

.tile img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}
.tile:hover h4{
    opacity: 1;
}

.tile:hover {
  border-radius: 15px;
  transform:scale(1.05);
}


/* Resume page */
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, sans-serif
}


.container_R{
  position:relative;
  width: 100%;
  max-width: 1000px;
  min-height: 900px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-sizing: 0 35px 55px rgba(0,0,0,0.1);
}

.container_R .left_Side{
  position: relative;
  background: #003147;
  padding: 40px;
}

.profileText{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:10px;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  font-family: poppin, sans-serif;
  text-align: center;
}

.profileText h2{
  color: white;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.4em;
}

.profileText span{
  font-size: 0.8em;
}

.title_contact{
  color: white;
  font-family: poppin, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin: 30px 0 0 0;
}

.container_R .right_Side{
  position: relative;
  background: #ffffff;
  padding: 40px;
}
#contact .icon .fa{
  margin: 0 20px 0 0;
  color:rgb(136, 221, 236);
}

#contact .icon .fa-mobile{
  font-size: 25px;
}

.contactInfo ul li .icon{
  display: inline-block;
  width: 30px;
  font-size: 18px;
}

.contactInfo ul li .text{
  color: white;
  font-weight: 300;
  font-family: poppin, sans-serif;
  font-size: 15px;
}

.contactInfo ul{
  position: relative;
}

.contactInfo ul li{
  list-style: none;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}

.education{
  margin-top: 40px;
}

.education li{
  margin-bottom: 15px; 
  list-style: none;
}

.education h5{
  color: rgb(136, 221, 236);
  font-family: poppin, sans-serif;
  font-weight: 500;
}

.education h4{
  color: white;
  font-weight: 300;
}

.language li{
  list-style: none;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.808);
}

.language .percent{
  margin-top: 5px;
  position: relative;
  width: 100%;
  height: 5px;
  background: rgb(126, 126, 126);
  display: block;  
}

.language .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(118, 226, 245);
}

.about .title1{
  margin-bottom: 10px;
  color: #003147;
  letter-spacing: 1px;
}
.about p{
  color: #333;
  margin-bottom: 20px;
}
.about .box p{
  color: #333;
  margin-bottom: 20px;
}

.about .box{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year{
  min-width: 180px;
}

.about .box .year h5{
  color: rgb(59, 4, 59);
  font-weight: 600;
}

.about .box .text h4{
  color: #2a7da2;
}

.skills .box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;

}

.skills .box h4{
  color:  #6985b3;
  font-weight: 500;
}

.skills .box .percent{
  background: rgb(126, 126, 126);
  position: relative;
  width: 100%;
  height: 10px;
}

.skills .box .percent div{
  position: aboslute;
  top:0;
  left:0;
  height: 100%;
  background: rgb(191, 235, 248);
}
.interest ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.interest .fa{
  margin: 0 4px 0 0;
  color:rgb(0, 0, 0)
}

.interest ul li {
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 5px 0;
}

@media(max-width: 420px){
  .container_R{
    top:638px;
    grid-template-columns: repeat(1,1fr);
  }

  .about .box{
    flex-direction: column;
    margin-bottom: 5px;
  }

  .interest ul{
    grid-template-columns: repeat(1,1fr);
  }

  #contact{
    background: white;
  }
}

