@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500&display=swap');

div, section, span, ul, li, a{
    box-sizing: border-box;
}   

html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
}


.flex_container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    margin: 1% 30% 0% 30%;
    text-align: center;
}

.img_container{
    width: 100%;
}

.img{
    width:100%;
    align-self: center;
    height: auto;
    opacity: 1;
    display: block;
    box-shadow: 2px 2px 10px black;
    transition: all .25s ease-in-out;
}

.title{
    font-family: 'Sora', sans-serif;
    text-align: center;
    margin-top: 30px;
    color:rgb(0, 0, 0);
    font-weight: 600;
    white-space: nowrap;
}

.story_text{
    font-weight: 100;
    margin:2% 5% 5% 5%;
    text-align:center;
    color: rgb(0, 0, 0);
    font-size:20px;
    font-family: 'Sora', sans-serif;
}

.specs{
    background-color: black;
    font-family: sora, sans-serif;font-weight: 100;
    color:white;
    font-size: 15px;
    width: 180px;
    position:absolute;
    margin-top: 100px;
    margin-left: 80px;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 1;
}

.img_container:hover .specs{
    opacity: 1;
}

.img_container:hover .img{
    transform: scale(1.05);
}


  
button {
    margin-top: 25px;
    margin-bottom: 40px;
    -webkit-appearance: none;
    background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    font: 1.5em Raleway, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 3rem;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent !important;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 10rem;
}
  
button:hover {
    animation-name: gradient;
    -webkit-animation-name: gradient;
    animation-duration: 2s;
    -webkit-animation-duration: s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .img_container{
      animation: slide 3s;
  }

  .title{
      animation: slide_left 3s;
  }

  .story_text{
      animation: slide_up 3s;
  }


  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100%;
    }
  }

  @keyframes slide{
    0%{margin-left:-300%;}
  100%{margin-left:0px;}
  }
  @keyframes slide_left{
    0%{margin-left:300%;}
  100%{margin-left:0px;}
  }

  @keyframes slide_up{
    0%{margin-top:300%;}
  100%{margin-top:2%;}
  }

  @media screen and (max-width: 850px){
    
    .flex_container{
        margin: 10% 5% 20px 5%; 
    }

    .story_text{
        font-size: 15px;
    }

    .title{
        margin-top: 15%;
    }
    
    button{
        margin-top: 40px;
        margin-bottom: 30px;
    }

    
}

